{% trans_default_domain 'cocorico_listing' %}

<div class="sub-holder" id="search-container">
    <!-- range-area -->
    <div class="range-area">
        <!-- range-holder -->
        {{ form_widget(form.price_range) }}

        {% if bundleExist('CocoricoDeliveryBundle') %}
            {% include '@CocoricoDelivery/Frontend/ListingResult/_form_delivery.html.twig' with {
                'delivery' : form.delivery
            } only %}
        {% endif %}
    </div>

    <div class="selection-holder">
        {% include '@CocoricoCore/Frontend/ListingResult/_form_search_characteristics.html.twig' with {
            'characteristics' : form.characteristics
        } only %}

        <div class="select-holder">
            {{ form_widget(form.sort_by, {
                'attr': {
                    'class': "form-control no-arrow"
                }
            }) }}
        </div>
    </div>

    {% if bundleExist('CocoricoListingCategoryFieldBundle') %}
        {{ render(controller('CocoricoListingCategoryFieldBundle:Frontend/ListingSearchCategoriesFields:categoriesSearchForm')) }}
        {#categories_fields form is already rendred in above controller#}
        {% do form.categories_fields.setRendered() %}
    {% endif %}

    <div class="selection-holder btn-block text-right">
        <button type="submit" id="filter" class="btn btn-default" style="padding: 6px 14px 6px;">
            {{ 'listing.filter'|trans }}
        </button>
    </div>
</div>

<script>
    function getEventName(){
        var event_options = document.getElementById('characteristics_9');
        var event_id = event_options.value;
        var options =  event_options.childNodes;
        var i = 0;
        while(i < options.length){
            if(event_id == options[i].value){
                var event_name = options[i].innerText.trim();
                break;
            }
            i++;
        }

        if(event_name === 'Event Types'){
            return false;
        }

        event_name = event_name.replace("/","-").trim();
        event_name = event_name.toLowerCase();
        event_name = event_name.replace(" ","-");
        return event_name;
    }

    document.getElementById('filter').onclick = function (e) {
        e.preventDefault();
        const event_name = getEventName();
        if(event_name){
            var category = getCategoryName();
            var location = getLocation();
            if(category && location){
                if(event_name){
                    setCookie();
                    window.open('/book-'+category+'-online/'+location+'/'+event_name,'_self');
                } else{
                    setCookie();
                    window.open('./','_self');
                }
            } else{
                setCookie();
                window.open('/','_self');
                alert('Please select a category and location before using filters..');
            }
        }
    }
</script>
