{% trans_default_domain 'cocorico_listing' %}

<div class="sub-holder" id="search-container">
    <!-- range-area -->
    <div class="range-area">
        <!-- range-holder -->
        {{ form_widget(form.price_range) }}

        {% if bundleExist('CocoricoDeliveryBundle') %}
            {% include '@CocoricoDelivery/Frontend/ListingResult/_form_delivery.html.twig' with {
                'delivery' : form.delivery
            } only %}
        {% endif %}
    </div>

    <div class="selection-holder">
        {% include '@CocoricoCore/Frontend/ListingResult/_form_search_characteristics.html.twig' with {
            'characteristics' : form.characteristics
        } only %}

        <div class="select-holder">
            {{ form_widget(form.sort_by, {
                'attr': {
                    'class': "form-control no-arrow"
                }
            }) }}
        </div>
    </div>

    {% if bundleExist('CocoricoListingCategoryFieldBundle') %}
        {{ render(controller('CocoricoListingCategoryFieldBundle:Frontend/ListingSearchCategoriesFields:categoriesSearchForm')) }}
        {#categories_fields form is already rendred in above controller#}
        {% do form.categories_fields.setRendered() %}
    {% endif %}

    <div class="selection-holder btn-block text-right">
        <button type="submit" id="filter" class="btn btn-default" style="padding: 6px 14px 6px;">
            {{ 'listing.filter'|trans }}
        </button>
    </div>
</div>

<script>
    document.getElementById("categories").removeAttribute("multiple");

    function setCookie(){
        var address = document.getElementById('location').value;
        var lat = document.getElementById('location_lat').value;
        var lng = document.getElementById('location_lng').value;
        var viewport = document.getElementById('location_viewport').value;
        var country = document.getElementById('location_country').value;
        var area = document.getElementById('location_area').value;
        var department = document.getElementById('location_department').value;
        var city  = document.getElementById('location_city').value;
        var zip = document.getElementById('location_zip').value;
        var route = document.getElementById('location_route').value;
        var streetNumber = document.getElementById('location_streetNumber').value;
        var addressType = document.getElementById('location_addressType').value;
        document.cookie = "address="+address;
        document.cookie = "lat="+lat;
        document.cookie = "lng="+lng;
        document.cookie = "viewport="+viewport;
        document.cookie = "country="+country;
        document.cookie = "area="+area;
        document.cookie = "department="+department;
        document.cookie = "city="+city;
        document.cookie = "zip="+zip;
        document.cookie = "route="+route;
        document.cookie = "streetNumber="+streetNumber;
        document.cookie = "addressType="+addressType;
    }

    function getCategoryName(){
        const category_id = document.getElementById("categories").value;
        if(category_id){
            var category = document.getElementById('categories').childNodes;
            var i =0;
            var category_name = '';
            while(i < category.length){
                if(i%2){
                    const value = category[i].getAttribute('value');
                    if( value === category_id){
                        category_name  = category[i].innerHTML.trim();
                        break;
                    }
                }
                i++;
            }

            const index = category_name.lastIndexOf("/");
            if(index !== -1){
                category_name = category_name.slice(0,index);
            } else{
                const ind = category_name.lastIndexOf(" ");
                if (ind !== -1){
                    category_name = category_name.slice(0,ind);
                }
            }
            category_name = category_name.replace("/","-").trim();
            category_name = category_name.replace(" ","-");
            category_name = category_name.toLowerCase();
            if (category_name === 'live'){category_name = 'band'}
            else if (category_name === 'photo'){category_name = 'photographer'}
            else if (category_name === 'variety'){category_name = 'variety-artist'}
            else if (category_name === 'make-up-artist'){category_name = 'makeup-artist'}

            return category_name;
        } else{
            return false;
        }
    }

    function getLocation(){
        var location = document.getElementById("location").value;
        if(location){
            const index = location.lastIndexOf(",");
            if(index == '-1'){
                location = location.slice(0);
            } else{
                location = location.slice(0,index);
            }
            location = location.replace(/\, /g,"-");   //replaces all occurrence of ', ' by '-'
            location = location.replace(" ","-");
            location = location.toLowerCase();
            return location;
        }
        else{
            return false;
        }
    }

    function getEventName(){
       var event_options = document.getElementById('characteristics_9');
       var event_id = event_options.value;
       var options =  event_options.childNodes;
       var i = 0;
       while(i < options.length){
           if(event_id == options[i].value){
               var event_name = options[i].innerText.trim();
               break;
           }
           i++;
       }

       if(event_name === 'Event Types'){
           return false;
       }

       event_name = event_name.replace("/","-").trim();
       event_name = event_name.toLowerCase();
       event_name = event_name.replace(" ","-");
       return event_name;
    }

    document.getElementById("search").onclick = function(e){
        e.preventDefault();
        var category_name = getCategoryName();
        if(category_name){
            var location =  getLocation();
            if (location){
                setCookie();
                window.location.assign('/book-'+category_name+'-online/'+location);
            } else{
                setCookie();
                window.location.assign("http://"+domain+"/book-"+category_name+"-online");
            }
        } else{
            alert("Please select a category to search for.");
        }
    };

    document.getElementById('filter').onclick = function (e) {
        e.preventDefault();
        const event_name = getEventName();
        if(event_name){
            var category = getCategoryName();
            var location = getLocation();
            if(category && location){
                if(event_name){
                    setCookie();
                    window.open('/book-'+category+'-online/'+location+'/'+event_name,'_self');
                } else{
                    setCookie();
                    window.open('./','_self');
                }
            } else{
                setCookie();
                window.open('/','_self');
                alert('Please select a category and location before using filters..');
            }
        }
    }
</script>
